.form-container {
  width: 600px;
  height: 400px;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-size: 1.5rem;
      margin-bottom: 20px;
    }

    .name {
      width: 100%;
      margin-bottom: 20px;
    }

    label {
      font-weight: bold;
    }

    input[type='text'], input[type='file'] {
      width: calc(100% - 20px); // Ajustement pour la marge intérieure
      padding: 10px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 1rem;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: #007bff;
      }
    }

    input[type='file'] {
      margin-bottom: 20px; // Ajout d'espace en bas
    }

    button[type='submit'] {
      width: 200px;
      padding: 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
